                <td class="pbc-txt-center">
                    
                    <button class="btn-action">
                        <i class="bi bi-cloud-upload"></i> 
                    </button>
                    <button class="btn-action btn-edit" onclick="
                        ">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn-action btn-delete" 
                        onclick="">
                        <i class="bi bi-trash3-fill"></i>
                    </button>

                     <button class="btn-action">
                                        <i class="bi bi-eye"></i>
                                    </button>
                </td>