<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin | Access Stream{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap">
    
    {# 1. Cargar Globales primero (Variables, Reset) #}
    {% for css_file in os.listdir('app/static/css/global') %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global/' + css_file) }}">
    {% endfor %}

    {# 2. Cargar Específicos de Admin #}
    {% for css_file in os.listdir('app/static/css/admin') %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/' + css_file) }}">
    {% endfor %}
    
    {% block head %}{% endblock %}
</head>
<body>
    <div class="dashboard-container">
        {% include 'admin/sidebar.html' %}

        <main class="content">
            {% block main_content %}{% endblock %}
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>